force-app/main/default/flows/Match_Portfolios_and_Perform_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>calloutApex</name>
        <label>calloutApex</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>PortfolioHTTPCallout</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__body</typeName>
            <typeValue>portfolio__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PortfolioHTTPCallout</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Match Portfolios and Perform Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Portfolios and Perform Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Accounts with the same External Ids and Colors</description>
        <name>Get_Matching_Account_Records</name>
        <label>Get Matching Account Records</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Portfolio_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Color__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalId__c</queriedFields>
        <sortField>ExternalId__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the record with the Application Id</description>
        <name>Update_Portfolio_Record</name>
        <label>Update Portfolio Record</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Matching_Account_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_Account_Records</targetReference>
        </connector>
        <object>portfolio__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>calloutApex</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>syncPortfolio</name>
        <apexClass>ExternalService__syncPortfolioLink_Sendx20Values_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
